.custom-scrollbar {
  white-space: nowrap;
  padding: 7px 0px;
  overflow-y: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #75acf3;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
}
